Repository bikininjas/lc_bikininjaPoltergeistSounds, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, audio, cicd

Add README.md for Poltergeist Custom Sounds Pack with features, installation instructions, and credits
  README.md
Labels: documentation

Update README.md to clarify folder structure for sound files
  README.md
Labels: documentation

Update GitHub Actions workflows to use latest action versions
  .github/workflows/build.yml
  .github/workflows/publish.yml
Labels: cicd

Update pull request action to use peter-evans/create-pull-request@v7.0.8
  .github/workflows/build.yml
Labels: cicd

Fix labeler action to use correct pull request output variable
  .github/workflows/build.yml
Labels: cicd

Fix README title formatting by adding an exclamation mark
  README.md
Labels: documentation

Update GitHub Actions workflow to use latest action versions and improve label handling
  .github/workflows/build.yml
Labels: cicd

Enhance PR handling in GitHub Actions workflow by adding a check for existing PRs and updating the create PR step to use GitHub API
  .github/workflows/build.yml
Labels: cicd

fix: Update workflow to use github-script for PR creation
  .github/workflows/build.yml
Labels: cicd

refactor: Improve publish workflow with secure GitHub API calls
  .github/workflows/publish.yml
Labels: cicd

chore: Comment out auto-merge step in build workflow
  .github/workflows/build.yml
Labels: cicd

ci: Enable releases for CI/CD changes
  .github/workflows/build.yml
Labels: cicd

docs: Add Copilot instructions for Poltergeist Custom Sounds Pack
  .github/copilot-instructions.md
Labels: documentation, cicd

fix: Update release branch pattern and tag prefix in build workflow
  .github/workflows/build.yml
Labels: cicd

fix: Correct mod_name in publish workflow to match the actual package name
  .github/workflows/publish.yml
Labels: cicd

fix: Update icon.png to improve visual representation
  icon.png
Labels: none

Implement feature X to enhance user experience and fix bug Y in module Z
  BepInEx/plugins/PoltergeistSounds/ouille-aie.mp3
Labels: audio

fix: Update icon.png to enhance visual representation
  icon.png
Labels: none

feat: Add new sound files for PoltergeistSounds plugin
  BepInEx/plugins/PoltergeistSounds/bruit-de-van.mp3
  BepInEx/plugins/PoltergeistSounds/je-propose-une-branlette-collective.mp3
  BepInEx/plugins/PoltergeistSounds/pump-shotgun-fortnite-loud.mp3
Labels: audio

fix: Update icon.png to enhance visual representation
  icon.png
Labels: none

feat: Remove unused elevator jingle sound files
  BepInEx/plugins/PoltergeistSounds/ElevatorJingle1.ogg
  BepInEx/plugins/PoltergeistSounds/ElevatorJingle1Loop.ogg
  BepInEx/plugins/PoltergeistSounds/ElevatorJingle2.ogg
  BepInEx/plugins/PoltergeistSounds/ElevatorJingle2Loop.ogg
  BepInEx/plugins/PoltergeistSounds/ElevatorJingle3.ogg
  BepInEx/plugins/PoltergeistSounds/ElevatorJingle3Loop.ogg
  BepInEx/plugins/PoltergeistSounds/ElevatorJingle5.ogg
  BepInEx/plugins/PoltergeistSounds/ElevatorJingle5Loop.ogg
Labels: audio

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'

audio:
- changed-files:
  - any-glob-to-any-file: 
    - 'BepInEx/plugins/PoltergeistSounds/**'

cicd:
- changed-files:
  - any-glob-to-any-file: 
    - '.github/**'
